:root {
  background-image: url("./assets/img/venti-views-35uZM_4wjYg-unsplash.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

body {
  background: none !important; 
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.characterList {
  margin: 0;
  padding: 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minMax(200px, 1fr));
  gap: 20px;
}