.cardImage {
    transition: all ease-in-out 0.5s;
}

  
.cardText {
    transition: all ease-in-out 0.5s;
}

.cardText:hover {
    background-color: rgb(255, 255, 255, 0.2);
    scale: 1.05;
  }
.cardImage:hover {
    scale: 1.05;
}

.listCard {
    box-shadow: -0px -0px 10px 1px rgba(255,255,255,0.75) !important;
-webkit-box-shadow: -0px -0px 10px 1px rgba(255,255,255,0.75) !important;
-moz-box-shadow: -0px -0px 10px 1px rgba(255,255,255,0.75) !important;
    transition: all ease 0.2s; 
    cursor: pointer;
}

.listCard:hover {
    transform: scale(1.05);
    box-shadow: -0px -0px 10px 5px rgba(255,255,255,0.75) !important;
    -webkit-box-shadow: -0px -0px 10px 5px rgba(255,255,255,0.75) !important;
    -moz-box-shadow: -0px -0px 10px 5px rgba(255,255,255,0.75) !important;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


.fade-in {
    animation: fadeIn 0.5s ease-in-out;
}   